* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: bisque;
}
.App {
  background-color: #fff;
  padding: 60px;
  width: 80%;
  margin: 10% auto;
  box-shadow: 1px 2px 5px #ddd;
}
h2 {
  background-color: darkred;
  padding: 20px;
  color: #fff;
}
form, li {
  margin: 20px 0;
}
input {
  width: 80%;
  padding: 20px;
  background-color: silver;
  border-radius: 10px;
  border: 0;
  outline: 0;
}
button {
  width: 20%;
  background-color: darkred;
  color: #fff;
  cursor: pointer;
  padding: 20px;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
}
ul {
  list-style: none;
}
li {
  padding: 5px;
  border-radius: 10px;
}
li span {
  display: inline-block;
  width: 60%;
  color: #fff;
  background-color: teal;
  padding: 20px;
  border-radius: 10px;
  font-size: 17px;
}
p {
  width: 100%;
  padding: 20px;
  color: #fff;
  background-color: sienna;
  border-radius: 10px;
  text-align: center;
}
